.calendar
  .calendar__header 
    .calendar__back
      img(src="/assets/img/arrow_back.png") 
    .calendar__month Август 2019
    .calendar__forward
      img(src="/assets/img/arrow_forward.png")
  table.calendar__table
    tr 
      th.calendar__table__header Пн
      th.calendar__table__header Вт
      th.calendar__table__header Ср
      th.calendar__table__header Чт
      th.calendar__table__header Пт
      th.calendar__table__header Сб
      th.calendar__table__header Вс
    tr
      td.calendar__another-month 29
      td.calendar__another-month 30
      td.calendar__another-month 31
      td.calendar__date 1
      td.calendar__date 2
      td.calendar__date 3
      td.calendar__date 4
    tr
      td.calendar__date 5
      td.calendar__date 6
      td.calendar__date 7
      td.calendar__date(class="calendar__current-day") 8
      td.calendar__date 9
      td.calendar__date 10
      td.calendar__date 11
    tr
      td.calendar__date 12
      td.calendar__date 13
      td.calendar__date 14
      td.calendar__date 15
      td.calendar__date 16
      td.calendar__date 17
      td.calendar__date 18
    tr
      td.calendar__date 19
      td.calendar__date 20
      td.calendar__date 21
      td.calendar__date 22
      td.calendar__date 23
      td.calendar__date 24
      td.calendar__date 25
    tr
      td.calendar__date 26
      td.calendar__date 27
      td.calendar__date 28
      td.calendar__date 29
      td.calendar__date 30
      td.calendar__date 31
      td.calendar__another-month 1
  .calendar__footer
    .calendar__clear Очистить
    .calendar__entry Применить
      