.search
  h1 Найдём номера под ваши пожелания
  .search__content 
    .search__in 
      h3 Прибытие
      .search__input ДД.ММ.ГГГГ
        img.search__drop(src="assets/img/expand_more.svg")
    .search__out
      h3 Выезд
      .search__input ДД.ММ.ГГГГ
        img.search__drop(src="assets/img/expand_more.svg")
  h3 Гости
  .search__select Сколько гостей
    img.search__drop(src="assets/img/expand_more.svg")
  a.search__button(href="#") 
    p.search__text подобрать номер
    img.search__send(src="assets/img/search__send.svg")
