@import "../utils/fonts";
@import "../utils/vars";

body {min-width: 1200px;}
p, body{
  margin: 0;
  font-family: $mainFont;
  font-size: 14px;
  line-height: 24px;
  color: $Dark_Shade_75;
}

h1 {
  margin: 0;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $Dark_Shade;
}
h2 {
  margin: 0;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $Dark_Shade;
}
h3 {
  margin: 0;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $Dark_Shade;
}

@import "../blocks/header/header";
@import "../blocks/content/content";
@import "../blocks/search/search";
@import "../blocks/calendar/calendar";
@import "../blocks/select/select";
@import "../blocks/footer/footer";





