// Font
$mainFont                : 'Montserrat', sans-serif;

// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$Dark_Shade              : #1F2041;;
$Dark_Shade_75           : rgba($Dark_Shade, .75);
$Dark_Shade_50           : rgba($Dark_Shade, .50);
$Dark_Shade_25           : rgba($Dark_Shade, .25);
$Dark_Shade_05            : rgba($Dark_Shade, .05);
$Purple                  :#BC9CFF;
$Green                   :#6FCF97;