.select 
  .select__line 
    .select__left 
      h3 Взрослые
    .select__right  
      .select__button.minus-grown -
      .select__number.grown 0
      .select__button.plus-grown +
  .select__line 
    .select__left 
      h3 Дети
    .select__right  
      .select__button.minus-children -
      .select__number.children 0
      .select__button.plus-children +
  .select__line 
    .select__left 
      h3 Младенцы
    .select__right  
      .select__button.minus-baby -
      .select__number.baby 0
      .select__button.plus-baby +
  .select__footer 
    .select__clear Очистить 
    .select__entry Применить