.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  margin-right: 20px;
}

.logo {
  display: block;
  margin-top: 15px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu__list {
  display: block;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 26px 8px;
  font-family: $mainFont;
  font-size: 14px;
  line-height: 18px;
  color: $Dark_Shade_75;
  
  &:hover {
    font-weight: bold;
  }

  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.menu__drop {
  margin-left: 8px;
}
.menu__link .menu__drop {
  margin-right: -5px;
}

.login {
  display: block;
  height: 34px;
  padding: 8px 20px;
  
  text-decoration: none;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $Purple;
  margin-top: 18px;

  position: relative;
  box-sizing: border-box;
  $border: 2px;
  border-radius: 22px;
  background: #fff;
  background-clip: padding-box;
  border: solid $border transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
  }

  margin-right: 20px;
}

.reg {
  display: block;
  height: 14px;
  padding: 10px 20px;
  text-decoration: none;
  background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 18px;
}

.right {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: space-between;
}